In [25]:
import importlib
import reports
from reports.debug_for_run import *
reports.debug_for_run = importlib.reload(reports.debug_for_run)
from reports.debug_for_run import *

In [26]:
from databases import yql_db, yt_db, clickhouse as ch, chyt
from reports import generate_query
import pandas as pd
import datetime
from upload_data import solomon

In [48]:
opts.__init__({'date':'2021-07-13'})
# now_time =datetime.datetime.now().strftime('%Y%m%dT%H%M%S')
now_time = '20210713T065010'
date_start = generate_query.get_query("{date_start}", opts.type, opts.date, repeat, sample=opts.sample, format_query = '')

In [30]:
# import reports
from reports.metrika.counters_black_list import yql_grep_watch_log, yql_filter_and_join, yql_put_tables, yql_final_union, yql_get_stat

In [11]:
yql_grep_watch_log_full = generate_query.get_query(yql_grep_watch_log, opts.type, opts.date, repeat, sample=opts.sample, format_query = '', format_dict={'now_time':now_time})
yql_db.run_yql_wait_and_return(yql_grep_watch_log_full, token=opts.yql_oauth)

Share URL: https://yql.yandex-team.ru/Operations/YORj2ZqqaD4EBhxodrsitYxDtOZ04UjclE2U4EV4YwM=

In [8]:
yql_filter_and_join_full = generate_query.get_query(yql_filter_and_join, opts.type, opts.date, repeat, sample=opts.sample, format_query = '', format_dict={'now_time':now_time})
yql_db.run_yql_wait_and_return(yql_filter_and_join_full, token=opts.yql_oauth)

Share URL: https://yql.yandex-team.ru/Operations/YORW1ATfnXqxwuWfqsLh5JaeDE0zvxjcVcp9OPsjm7E=

# Gen auto markup

In [9]:
yql_put_tables_full = generate_query.get_query(yql_put_tables, opts.type, opts.date, repeat, sample=opts.sample, format_query = '', format_dict={'now_time':now_time})
yql_db.run_yql_wait_and_return(yql_put_tables_full, token=opts.yql_oauth)

Share URL: https://yql.yandex-team.ru/Operations/YORZzXJuvLM4ysqUisIrXwh9-Tc7AnMEuRp1ul_gZ9E=

# debug for manual

In [38]:
%%bash
pip3 install yandex-yt -i https://pypi.yandex-team.ru/simple --upgrade

Looking in indexes: https://pypi.yandex-team.ru/simple
Requirement already satisfied: yandex-yt in /home/z-sergey/jupyterenv/lib/python3.7/site-packages (0.10.14)

WARNING: You are using pip version 21.0.1; however, version 21.1.3 is available.
You should consider upgrading via the '/home/z-sergey/jupyterenv/bin/python3 -m pip install --upgrade pip' command.

In [118]:
from databases import clickhouse as ch, chyt
clickhouse = importlib.reload(ch)
from databases import clickhouse as ch

In [54]:
counter_id_candidate = 49128502

In [ ]:
ch.get_df("select URLDomain, count() as pvs from hits_all where EventDate = toDate('{date_start}')  and CounterID = {counter_id_candidate} and DontCountHits = 0 group by URLDomain order by pvs desc limit 20 FORMAT TSVWithNames".format(**locals()),
         user=opts.user, password=opts.password
         )

In [37]:
chyt.get_df(f'''select * from `//home/metrica-analytics/black_list/tmp/black_list_url_graph_raw_{date_start}_{now_time}` where counter_id = {counter_id_candidate}''')

,domain,counter_class,counter_id,watchlog_counter_id
0,belaya-kalitva.zagotovshik.ru,0,51547469,51547469
1,monino.zagotovshik.ru,0,51547469,51547469
2,belgorod.zagotovshik.ru,0,51547469,51547469
3,belorechensk.zagotovshik.ru,0,51547469,51547469
4,volkovysk.zagotovshik.ru,0,51547469,51547469
...,...,...,...,...
347,miass.zagotovshik.ru,0,51547469,51547469
348,michurinsk.zagotovshik.ru,0,51547469,51547469
349,minsk.zagotovshik.ru,0,51547469,51547469
350,minusinsk.zagotovshik.ru,0,51547469,51547469
351,mogilev.zagotovshik.ru,0,51547469,51547469

In [53]:
chyt.get_df(f'''select * from `//home/metrica-analytics/black_list/tmp/black_list_url_graph_raw_{date_start}_selfjoined_{now_time}` where left_counter_id = {counter_id_candidate}''')

,left_counter_id,left_counter_class,domain,left_watchlog_counter_id,right_counter_class,right_counter_id,right_watchlog_counter_id
0,42368719,1,mahachkala.russianrealty.ru,204911,0,82766992,82766992
1,42368719,1,dubna.russianrealty.ru,204911,0,82303468,82303468
2,42368719,1,mahachkala.russianrealty.ru,204911,0,2021170,2021170
3,42368719,1,pugachev.russianrealty.ru,204911,0,2021170,2021170
4,42368719,1,chernogolovka.russianrealty.ru,204911,0,82721602,82721602
...,...,...,...,...,...,...,...
970,42368719,1,balashov.russianrealty.ru,204911,0,82714528,82714528
971,42368719,1,novosibirsk.russianrealty.ru,204911,0,2021170,2021170
972,42368719,1,zarechny.russianrealty.ru,204911,0,2021170,2021170
973,42368719,1,novosibirsk.russianrealty.ru,204911,0,80363377,80363377
974,42368719,1,balashov.russianrealty.ru,204911,0,2021170,2021170

In [49]:
chyt.get_df(f'''select domain, count() as cnt from `//home/metrica-analytics/black_list/tmp/black_list_url_graph_raw_{date_start}_selfjoined_{now_time}` 
where left_counter_id = {counter_id_candidate}
group by domain order by cnt desc''')

                            domain  cnt
0        primorsk.russianrealty.ru    2
1       priozersk.russianrealty.ru    2
2        ishimbay.russianrealty.ru    2
3          taldom.russianrealty.ru    2
4    nefteyugansk.russianrealty.ru    2
..                             ...  ...
619       zadonsk.russianrealty.ru    1
620    neftegorsk.russianrealty.ru    1
621         ocher.russianrealty.ru    1
622        anadyr.russianrealty.ru    1
623   lesosibirsk.russianrealty.ru    1

[624 rows x 2 columns]

# Continue with marked

In [299]:
new_marked_portion = pd.read_csv('~/black_list/for_manual_check/2021-05-31-marked-1.csv', sep =';')

In [300]:
new_marked_portion

    counter_class  counter_id          NEW_RESULT
0               0    43810134  big_yandex_counter
1               0    20269972              plugin
2               0    24791165              plugin
3               0    20832499           blockpage
4               0    42839234  big_yandex_counter
5               0    30912901     videoplayer-ads
6               0    70014157         videoplayer
7               0    49390213             network
8               0    49660363             network
9               0    46630215             network
10              0    72695488             network

In [301]:
new_marked_portion.columns = ['CounterClass','CounterID','Result']

In [302]:
new_marked_portion['AddDate'] = '2021-07-05'

In [303]:
yt_db.write_to_yt('//home/metrica-analytics/black_list/portions/{}'.format('2021-05-31-marked-2'), 
                new_marked_portion, ['CounterClass','CounterID','Result','AddDate'], ['uint8', 'uint32', 'string', 'string'])

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:01<00:00,  1.55s/it]

 success.
 path = https://yt.yandex-team.ru/hahn/navigation?path=//home/metrica-analytics/black_list/portions/2021-05-31-marked-2&

# Union all

In [52]:
df_counters_markup_latest = yql_db.run_yql_wait_and_return(yql_final_union, token=opts.yql_oauth)

Share URL: https://yql.yandex-team.ru/Operations/YORiUgTfnXqxwuhbXaxtXl5nfkjRapDetdPp4zSjuRI=

In [53]:
df_counters_markup_latest

      CounterClass  CounterID     Result     AddDate
0                0          1  technical  2020-11-27
1                0          3  technical  2020-11-27
2                0      37578   platform  2020-11-27
3                0      88259   platform  2020-11-27
4                0     200476   platform  2020-11-27
...            ...        ...        ...         ...
2121             0   82561498        ads  2021-07-05
2122             0   82561501        ads  2021-07-05
2123             0   51547469    network  2021-07-06
2124             0   53311306     plugin  2021-07-06
2125             0   71348983        ads  2021-07-06

[2126 rows x 4 columns]

In [54]:
ch.create_and_put_df('metr.new_counters_markup', df_counters_markup_latest, 'CounterClass UInt8, CounterID UInt32, Result String, AddDate Date', host=ch.MTCH01K_HOST, user=opts.user, password=opts.password)
ch.create_and_put_df('metr.new_counters_markup', df_counters_markup_latest, 'CounterClass UInt8, CounterID UInt32, Result String, AddDate Date', host=ch.MTCH01M_HOST, user=opts.user, password=opts.password)

In [121]:
# ch.get_data(query='drop view if exists metr.new_counters_black_list', host=ch.MTCH01K_HOST, user=opts.user, password=opts.password)
# ch.get_data(query="create view  metr.new_counters_black_list as select * from metr.new_counters_markup where Result not in ('platform', 'network', 'videoplayer', 'mixed', 'big_yandex_counter')", host=ch.MTCH01K_HOST, user=opts.user, password=opts.password)
# ch.get_data(query='drop view if exists metr.new_counters_black_list', host=ch.MTCH01M_HOST, user=opts.user, password=opts.password)
# ch.get_data(query="create view  metr.new_counters_black_list as select * from metr.new_counters_markup where Result not in ('platform', 'network', 'videoplayer', 'mixed', 'big_yandex_counter')", host=ch.MTCH01M_HOST, user=opts.user, password=opts.password)

''

In [55]:
yql_get_stat_full = generate_query.get_query(yql_get_stat, opts.type, opts.date, repeat, sample=opts.sample, format_query = '', format_dict={'now_time':now_time})
df_stat_counter_count = yql_db.run_yql_wait_and_return(yql_get_stat_full, token=opts.yql_oauth)

Share URL: https://yql.yandex-team.ru/Operations/YORjUZqqaD4EBhxGQcbZNisj8KB0CDvhVszYUBVVslE=

In [56]:
df_stat_counter_count

    fielddate    counter_type  counters
0  1625432400  wts_buzz_koala        21
1  1625432400          old_bl        70
2  1625432400           g_200      2701

In [10]:
    solomon.push_df_to_solomon(df_stat_counter_count, ['counters'], 
        opts.solomon_oauth, project = 'metrika_analytics', cluster = 'black_list', service = 'metrika')

slices ['counter_type']
counters
solomon response {"status":"OK","sensorsProcessed":3}