In [1]:
import pandas as pd
from sklearn import cross_validation

ImportError: No module named sklearn

In [4]:
df = pd.read_csv('users_data.csv')

In [5]:
df.head()

,user_id,avg_depth,visits,not_bounce_visits,purchases,purchased_products,viewed_products,cart_products,target
0,1508615461456647110,2.0,1,1,0,0,1,0,0.0
1,1612186211471794615,1.0,1,0,0,0,0,0,0.0
2,640282911437083272,3.0,1,1,0,0,0,0,0.0
3,7779562051470726121,1.0,1,0,0,0,0,0,0.0
4,175781731455643585,2.0,1,1,0,0,0,0,0.0

In [6]:
X = df.drop('target', axis = 1)
y = df.target